.ProductDetail{
            margin-top: 50px;
    img{
        width: 747px;
        height: 601.431px;
    }
    .text{
        p{
            margin-left: 170px;
            margin-top: 60px;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 325% */
        }
        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            margin-top: 40px;
            margin-left: 170px;
        }
        h3{
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 145.833% */
            margin-left: 170px;
            margin-top: 20px;
        }
        button{
            width: 147px;
            height: 51px;
            background: #434656;
            border: 1px solid #434656;
            margin-left: 170px;
            margin-top: 30px;

            color: #FFF;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px; /* 152.941% */
        }
    }
    h1{
        color: #000;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; /* 130% */
        margin-top: 104px;
        margin-left: 40px;
    }
    p{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 180% */
        width: 1119px;
        margin-left: 40px;
        margin-top: 24px;
        margin-bottom: 100px;
    }
    .specification{
        height: 1133px;
        background: #F5F5F5;

        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            text-align: center;
            padding-top: 90px;
        }
        p{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            text-align: center;
            border-radius: 40px;
            border: 1px dashed #000;
            width: 197px;
            height: 66px;
            margin-left: 417px;
            margin-top: 40px;
        }
        h5{
            position: absolute;
            top: 1590px;
            left:920px;
        }
        h6{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            position: absolute;
            top: 1570px;
            left: 1011px;
        }
    }
    h2{
        color: #000;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; /* 240.741% */
        margin-top: 50px;
    }
    h4{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 170% */
        margin-top: 50px;
    }
    hr{
        border: 1px solid #000;
        margin-top: 17px;
    }
    .faq{
        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            text-align: center;
        }
    }
}