.ProductDetail{
            margin-top: 50px;
            width: 100%;
    img{
        width: 100%;
        height: 601.431px;
        border-radius: 0px 71px 0px 0px;
    }
    .text{
        p{
            margin-left: 170px;
            margin-top: 60px;
            color: #000;
            font-size: 20px;
            font-weight: 400;
        }
        h1{
            color: #000;
            font-size: 50px;
            font-weight: 400;
            margin-top: -40px;
            margin-left: 170px;
        }
        h3{
            color: #000;
            font-size: 24px;
            font-weight: 400;
            margin-left: 170px;
            margin-top: 20px;
        }
        a{
            margin-left: 170px;
            margin-top: 30px;
        }
    }
    h1{
        color: #000;
        font-size: 50px;
        font-weight: 400;
        margin-top: 104px;
        margin-left: 40px;
    }
    p{
        color: #000;
        font-size: 20px;
        font-weight: 400;
       
        margin-left: 40px;
        margin-top: 24px;
        margin-bottom: 100px;
    }
    .specification{
        height: 1133px;
        background: #F5F5F5;
        position: relative;
        a{
            text-decoration: none;
            color: #000;
        }
        a:active{
            text-align: center;
            border-radius: 40px;
            border: 1px dashed #000;
            padding: 30px 50px 30px 50px;
        }

        h1{
            color: #000;
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            padding-top: 90px;
        }
        p{
            color: #000;
            font-size: 20px;
            font-weight: 700;
            margin-left: 417px;
            margin-top: 40px;
        }
        h5{
            position: absolute;
            top: 195px;
            left:920px;
        }
        h6{
            color: #000;
            font-size: 20px;
            font-weight: 700;
            position: absolute;
            top: 195px;
            left: 1011px;
        }
        h2{
            color: #000;
            font-size: 27px;
            font-weight: 400;
            margin-top: 50px;
        }
        h4{
            color: #000;
            font-size: 20px;
            font-weight: 400;
            margin-top: 50px;
        }
        hr{
            border: 1px solid #000;
            margin-top: 17px;
        }
    }
    .faq{
        h1{
            color: #000;
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            line-height: 65px;
        }
        h2{
            color: #000;
            font-size: 27px;
            font-weight: 400;
            line-height: 65px;
        }
        h4{
            color: #000;
            font-size: 17px;
            font-weight: 400;
            margin-top: 12px;
            line-height: 25px;
        }
        p{
            width: 24px;
            height: 3px;
            // border: 1px solid #000;
            // background-color: #000;
            margin-top: 75px;
            margin-left: 110px;
        }
    }
    .teach{
        height: 914px;
        background: #F5F5F5;
        h1{
            color: #000;
            font-size: 50px;
            font-weight: 400;
            padding-top: 119px;
            text-align: center;
        }
        iframe{
            width: 100%;
            height: 603px;
            margin-top: 27px;
            border: 1px solid #dbd7d7;
        }
    }
}