.TopNav{
    width: 100%;
    background: #4766AD;
    p{
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 10px;
        margin-bottom: 0px;
    }
}