.TopNav{
    height: 52px;
    width: 100%;
    background: #4766AD;
    p{
        color: #FFF;
        font-family: Metropolis;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        padding-top: 18px;
    }
}