.ProductDetail{
    margin-top: 50px;
    img{
        width: 747px;
        height: 601.431px;
        border-radius: 0px 71px 0px 0px;
    }
    .text{
        p{
            margin-left: 170px;
            margin-top: 60px;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 325% */
        }
        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            margin-top: -40px;
            margin-left: 170px;
        }
        h3{
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 145.833% */
            margin-left: 170px;
            margin-top: 20px;
        }
        button{
            width: 147px;
            height: 51px;
            background: #434656;
            border: 1px solid #434656;
            margin-left: 170px;
            margin-top: 30px;

            color: #FFF;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px; /* 152.941% */
        }
    }
    h1{
        color: #000;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; /* 130% */
        margin-top: 104px;
        margin-left: 40px;
    }
    p{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 180% */
        width: 1119px;
        margin-left: 40px;
        margin-top: 24px;
        margin-bottom: 100px;
    }
    .specification{
        height: 2837px;
        background: #F5F5F5;

        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            text-align: center;
            padding-top: 90px;
        }
        p{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            text-align: center;
            border-radius: 40px;
            border: 1px dashed #000;
            width: 197px;
            height: 66px;
            margin-left: 417px;
            margin-top: 40px;
        }
        h5{
            position: absolute;
            top: 1146px;
            left:940px;
        }
        h6{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            position: absolute;
            top: 1126px;
            left: 1011px;
        }
        h3{
            color: #000;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 240.741% */
            margin-top: 45px;
        }
        h4{
            color: #000;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px; /* 125.926% */
            margin-top: 55px;
        }
        h2{
            color: #000;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px; /* 125.926% */
            margin-top: 55px;
            width: 208px;
        }
        hr{
            margin-top: 30px;
        }
    }
    .details{
        h1{
            color: #000;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 130% */
            text-align: center;
        }
        h2{
            color: #000;
            font-size: 20px;
            font-style: normal;
            text-align: center;
            font-weight: 700;
            line-height: 65px; /* 325% */
            width: 259px;
            height: 66px;
            border-radius: 40px;
            border: 1px dashed #000;
            margin-top: 53px;
            margin-left: 243px;
        }
        h3{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            margin-top: 54px;
            margin-left: 116px;
        }
        h4{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; /* 325% */
            margin-top: 54px;
            margin-left: -90px;
        }
        h5{
            color: #000;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 240.741% */
            margin-top: 139px;
            margin-left: 90px;
        }
        h6{
            color: #000;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px; /* 240.741% */
            width: 899px;
            height: 201px;
            margin-top: 139px;
            margin-left: -90px;
        }
    } 
    .textBox{
        height: 132px;
        border: 1px dashed #000;
        background: #D9D9D9;
        margin-top: 165px;
        margin-bottom: 100px;
        p{
            color: #000;
            text-align: center;
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: 37px; /* 137.037% */
        }
    }     
}